@import "assets/fonts.css";

:root {
    --color-primary: #f06c64;
    --color-primary-shadow: #ea676b;
    --color-slider-arrow: #c94549;
    --color-light: #ffffff;
    --color-text: #767e9e;
    --color-text-darker: #666d89;
    --color-header: #2d303a;
    --color-header-shadow: #323746;
    --color-menu-dot: #494e62;
    --color-background: #f2f2f2;
    --color-icon: #656d89;

    /*phone colors*/
    --color-phone-camera: #d8d8d8;
    --color-camera-dot: #eb5055;
    --color-phone-speaker: #acacac;
    --color-phone-screen: #c5c5c5;
    --color-phone-button: #fafafa;
    --color-phone-square: #bababa;
    --color-phone-shadow: rgba(206,93,86,1);

    --transition-time: all .5s ease-out;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Lato";
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
    background: var(--color-background);
    width: 1020px;
    margin: auto;
}

.wrapper {
    
    margin: auto;
    padding: 0 40px;
}

.quote {
    background: var(--color-primary);
    padding: 69px 0 46px 0;
    letter-spacing: -0.1px;
}

.quote__title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;

}

.quote__text {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    margin-top: 27px;
    text-align: justify;
    word-spacing: 0.7px;
}

.quote__layout-column {
    margin: 44px 0 0 0;
} 

.layout-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.quote__form {
    width: 620px;
}

.form__input {
    width: 100%;
    border-radius: 5px;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    border: none;
    padding: 8px 0px 8px 16px;
    margin-bottom: 16px;
}

.form__input::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
}

.form__textarea {
    resize: none;
    padding-bottom: 16px;
}

.form__submit {
    display: none;
}

.contact-info {
    width: 300px;
}

.contact-info__title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
}

.contact-info__text {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    margin-top: 10px;
    text-align: justify;
}

.contact-info__links {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
}

.contact-info__link {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-decoration: none   ;
}

.contact-info__link::before {
    display: inline-block;
    content: '';
    margin: 0px 13px 0 2px;
}

.contact-info__link_address::before {
    background: center / cover no-repeat url(/assets/img/location.svg);
    width: 8px;
    height: 10px;
}

.contact-info__link_phone::before {
    display: inline-block;
    content: '';
    background: center / cover no-repeat url(/assets/img/phone.svg);
    width: 10px;
    height: 10px;
}

.contact-info__link_email::before {
    display: inline-block;
    content: '';
    background: center / cover no-repeat url(/assets/img/mail.svg);
    width: 11px;
    height: 8px;
}

.quote-shadow {
    height: 4px;
    background: #ea676b;
}

.footer {
    background: var(--color-header);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-icon {
    width: 32px;
    height: 32px;
    margin-left: 4px;
    border: 1px solid var(--color-icon);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
}

.copyright {
    font-size: 12px;
    line-height: 6px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 400;
}

.contacts {
    padding: 22px 0;
    line-height: 1rem;
}

.contact-icon_facebook {
    background: center / contain no-repeat url("assets/img/facebook_ico.svg");
}

.contact-icon_google {
    background: center / contain no-repeat url("assets/img/google_ico.svg");
}

.contact-icon_twitter {
    background: center / contain no-repeat url("assets/img/twitter_ico.svg");
}

.contact-icon_linked-in {
    background: center / contain no-repeat url("assets/img/linkedin_ico.svg");
}