@import "assets/fonts.css";

:root {
    --color-primary: #f06c64;
    --color-light: #ffffff;
    --color-text: #767e9e;
    --color-header: #2d303a;
    --color-header-shadow: #323746;
    --color-menu-dot: #494e62;
}

html {
    font-size: 10px;
}

body {
    font-family: "Lato";
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
    color: var(--color-text);
    width: 1020px;
    margin: auto;
}

.wrapper {
    margin: auto;
    padding: 0 40px;
}

.header {
    background-color: var(--color-header);
}


.header__wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 27px;
}

.header__shadow {
    color: var(--color-header-shadow);
    height: 6px;
}

.logo {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.5px;
    color: var(--color-light);
    font-family: "Lato";
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.asterisk {
    color: var(--color-primary);
    margin-left: -5px;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__item {
    margin: 0 0 0 12.8px;
    letter-spacing: -0.2px;
}

.menu__item::after {
    content: '·';
    color: var(--color-menu-dot);
    margin-left: 12.8px;
}

.menu__item_last::after {
    content: none;
}

.menu__link {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: var(--color-light);
    font-family: "Lato";
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__link_active {
    color: var(--color-primary);
}