@import "assets/fonts.css";



:root {
    --color-primary: #f06c64;
    --color-primary-shadow: #ea676b;
    --color-slider-arrow: #c94549;
    --color-light: #ffffff;
    --color-text: #767e9e;
    --color-text-darker: #666d89;
    --color-header: #2d303a;
    --color-header-shadow: #323746;
    --color-menu-dot: #494e62;
    --color-background: #f2f2f2;
    --color-icon: #656d89;

    /*phone colors*/
    --color-phone-camera: #d8d8d8;
    --color-camera-dot: #eb5055;
    --color-phone-speaker: #acacac;
    --color-phone-screen: #c5c5c5;
    --color-phone-button: #fafafa;
    --color-phone-square: #bababa;
    --color-phone-shadow: rgba(206,93,86,1);

    --transition-time: all .5s ease-out;
}

html {
    font-size: 10px;
}

body {
    font-family: "Lato";
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
    background: var(--color-background);
    width: 1020px;
    margin: auto;
}

.wrapper {
    
    margin: auto;
    padding: 0 40px;
}


.portfolio {
    padding: 68px 0 46px 0;
    background: var(--color-header);
}

.portfolio__title {
    font-size: 3.0rem;
    line-height: 1.8rem;
    color: var(--color-text-darker);
    font-family: "Lato";
    font-weight: 900;
    margin: 0;
}

.portfolio__text {
    font-size: 1.8rem;
    line-height: 3.0rem;
    color: var(--color-text);
    font-family: "Lato";
    font-weight: 300;
    margin: 27px 0 0 0;
}

.portfolio__tags {
    margin: 4px 0 0 0;
}

.portfolio__tags > * {
    margin-right: 7px;
}

.tag {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 2rem;
    color: var(--color-text);
    font-family: "Lato";
    font-weight: 400;
    padding: 0px 7px;
    border: 1px solid var(--color-text-darker);
    border-radius: 5px;
}

.tag_all {
    padding: 0px 7px 0 7px;
}

.tag_web {
    padding: 0 6px 0 6px;
}

.tag_graphic {
    padding: 0px 5px 0 5px;
}

.tag_artwork {
    padding: 0 5px 0 5px;
}

.tag_active {
    color: #dedede;
    border-color: #c5c5c5;
}

.portfolio__images {
    margin: 18px 0 0 0;
    max-height: 621px;
    overflow: hidden;
}

.layout-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio__image {
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
    overflow: hidden;
}

.portfolio__image img {
    display: inline-block;
}

.portfolio__shadow {
    height: 7px;
    background: var(--color-header-shadow);
}

/* about-us section*/

.about-us {
    padding: 69px 0 67px 0;
}

.about-us__title {
    font-size: 3.0rem;
    line-height: 1.8rem;
    color: var(--color-text-darker);
    font-family: "Lato";
    font-weight: 900;
    margin: 0;
}

.about-us__text {
    margin: 26px 0 0 0;
    text-align: justify;
}

.about-us__employees {
    margin: 45px 0 0 0;
}

.employee {
    width: 301px;
}

.employee__photo {
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.employee__name {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--color-text-darker);
    font-family: "Lato";
    font-weight: 900;
    margin: 17px 0 0 0;
    letter-spacing: -0.1px;
}

.employee__info {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: var(--color-text);
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin: 9px 0 0 0;
}

.employee__info_adam {
    letter-spacing: -0.1px;
}


.employee__contacts {
    display: flex;
    margin: 23px 0 0 0;
}

.employee__contact-icon {
    width: 30px;
    height: 30px;
    margin-right: 8.5px;
    border: 1px solid var(--color-icon);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
}

.employee__contact-icon:hover {
    background-color:var(--color-phone-camera);
}

.employee__contact-icon > object{
    pointer-events: none;
}

.employee__contact-icon_facebook {
    background: center / contain no-repeat url("assets/img/facebook_ico.svg");
}

.employee__contact-icon_google {
    background: center / contain no-repeat url("assets/img/google_ico.svg");
}

.employee__contact-icon_twitter {
    background: center / contain no-repeat url("assets/img/twitter_ico.svg");
}

.employee__contact-icon_linked-in {
    background: center / contain no-repeat url("assets/img/linkedin_ico.svg");
}

.about-us__shadow {
    height: 6px;
    background-color: var(--color-light);
}