@import "assets/fonts.css";

:root {
    --color-primary: #f06c64;
    --color-primary-shadow: #ea676b;
    --color-slider-arrow: #c94549;
    --color-light: #ffffff;
    --color-text: #767e9e;
    --color-text-darker: #666d89;
    --color-header: #2d303a;
    --color-header-shadow: #323746;
    --color-menu-dot: #494e62;

    --transition-time: 0.5s;
}

html {
    font-size: 10px;
}

body {
    font-family: "Lato";
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
    color: var(--color-text);
    width: 1020px;
    margin: auto;
}

.wrapper {
    margin: auto;
    padding: 0 40px;
}

.header {
    background-color: var(--color-header);
}


.header__wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 27px;
}

.header__shadow {
    color: var(--color-header-shadow);
    height: 6px;
}

.logo {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.5px;
    color: var(--color-light);
    font-family: "Lato";
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.logo:hover {
    color: var(--color-text);
    transition: var(--transition-time);
}

.asterisk {
    color: var(--color-primary);
    margin-left: -5px;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__item {
    margin: 0 0 0 12.8px;
    letter-spacing: -0.2px;
}

.menu__item::after {
    content: '·';
    color: var(--color-menu-dot);
    margin-left: 12.8px;
}

.menu__item_last::after {
    content: none;
}

.menu__link {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: var(--color-light);
    font-family: "Lato";
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__link_active, .menu__link:hover {
    color: var(--color-primary);
    transition: var(--transition-time);
}

.slider {
    height: 594px;
    background: var(--color-primary);
}

.slider__wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

.slider-shadow {
    background-color: var(--color-primary-shadow);
    height: 6px;
}

.phone {
    position: relative;
    width: 215px;
    height: 458px;
}

.phone_vertical {
    position: absolute;
    top: 148px;
    left: 237px;
}

.phone_horizontal {
    position: absolute;
    transform: rotate(90deg);
    top: 148px;
    left: 672px;
}

.phone__base {
    position: absolute;
    width: 215px;
    height: 458px;
    border-radius: 27px;
    background-color: #f2f2f2;
}

.phone__shadow_vertical {
    -webkit-box-shadow: 24px 24px 0px 0px rgba(206,93,86,1);
    -moz-box-shadow: 24px 24px 0px 0px rgba(206,93,86,1);
    box-shadow: 24px 24px 0px 0px rgba(206,93,86,1);
}

.phone__shadow_horizontal {
    -webkit-box-shadow: 24px -24px 0px 0px rgba(206,93,86,1);
    -moz-box-shadow: 24px -24px 0px 0px rgba(206,93,86,1);
    box-shadow: 24px -24px 0px 0px rgba(206,93,86,1);
}

.phone__camera {
    position: relative;
    width: 9px;
    height: 9px;
    border-radius: 4px;
    background-color: #d8d8d8;
    top: 17px;
    left: 103px;
}

.phone__camera-dot {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #eb5055;
    top: 2.5px;
    left: 2.5px;
}

.phone__speaker {
    position: absolute;
    width: 36px;
    height: 5px;
    border-radius: 3px;
    background-color: #acacac;
    top: 36px;
    left: 90px;
}

.phone__screen {
    position: absolute;
    width: 188px;
    height: 333px;
    background: #000000;
    border: 3px solid #c5c5c5;
    border-radius: 5px;
    box-sizing: content-box;
    top: 62px;
    left: 11px;
}

.phone__screen_vertical {
    background: url("/assets/img/vertical_phone_image.png");
}

.phone__screen_horizontal {
    background: url("/assets/img/horizontal_phone_image.png");
}

.phone__button {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background-color: #fafafa;
    top: 399px;
    left: 86px;
}

.phone__button-ico {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #bababa;
    box-sizing: border-box;
    border-radius: 4px;
    top: 13px;
    left: 13px;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.arrow {
    width: 15px;
    height: 15px;
    border: 0 solid var(--color-slider-arrow);
    border-top-width: 5px;
    border-left-width: 5px;
    border-radius: 3px;
    transform: rotate(-45deg);
    position: relative;
}

.arrow:hover {
    border-color: var(--color-header);
    transition: var(--transition-time);
    cursor: pointer;
}

.arrow_left {
    left: 6px;
    top: -3px;
}

.arrow_right {
    transform: rotate(135deg);
    left: -2px;
    top: -3px;
}